* {
    margin: 0;
    padding: 0;
    max-width: 1534px;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 8px auto;
    padding: 1rem;
    background: white;
    box-shadow: 0 0 5px rgba(129, 129, 129, 0.517);
}


nav {
    display: flex;
}

header img {
    width: 300px;
}

nav a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: rgb(167, 0, 0);
    padding: 2rem 3.34rem;
}

a:hover {
    transition: all .55s ease;
    border-bottom: 1px solid rgb(167, 0, 0);
}

main{
    margin: 13px auto;
}

 section {
    max-width: 500px;
    display: grid;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 13px auto;
    margin-top: 2rem;
    color: white;
    background: rgb(123, 0, 0);
    padding: 0.5rem;
    border-radius: 5px;
}

.paralink{
    color: rgb(255, 180, 180);
}

h1{
    text-align: center;
    color: rgb(102, 102, 102);
}

.color-sheme{
    margin-right: 21px;
}

footer {
    font-family: 'Jacquard 24', system-ui;
    padding: 1rem;
    color: white;
    background: rgb(167, 0, 0);
    text-align: center;
}


@media screen and (max-width:767px) {
    header img {
        width: 310px;
        height: 84px;
    }
}
