@media (max-width: 767px) {
    
    nav{
        margin-top: -13%;
        background: none;
    }
    
    header img{
        width: 89px;
    }

    header span{
        margin-bottom: -5%;
    }

    main h1{
        font-size: 21px;
        grid-column: 1;
        margin-top: -5%;
    }

    .card{
        font-size: 16px;
    }

    .card h2{
        font-size: 18px;
    }

}