*body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    font-family: 'Roboto', sans-serif;
}

img {
    border-radius: 50%;
    margin-left: 8%;
}

header span {
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    grid-column: 1/3;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
    margin-top: -13%;
    background: gainsboro;
}

nav a {
    font-family: 'roboto', sans-serif;
    font-size: 21px;
    text-decoration: none;
    color: black;
    margin-left: 5%;
}


main {
    display: grid;
    font-family: 'Roboto', sans-serif;
    margin-top: 5%;
    padding: 5rem;
    gap: 34px;
}

main h1 {
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    grid-column: 1/3;
}

.card {
    display: grid;
    padding: 20px;
    border-radius: 5px;
    background: gainsboro;
}

footer{
    padding: 0.5rem 1rem;
    font-family: 'Roboto', sans-serif;
    background: gainsboro;
}

footer p {
    text-align: center;
}
