@media (max-width: 1170px) {

    #menu::before {
        content: "☰";
    }

    #menu.open::before {
        content: "x";
    }

    .navalist {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 1rem 2rem;
    }

    .navalist a {
        display: none;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        color: #2389d2;
    }

    .navalist a:hover {
        color: #006aab;
    }


    #menu {
        font-size: 1.5rem;
        border: 0;
        background: none;
        color: #000;
        position: absolute;
        top: 1.8rem;
        right: 2.5rem;
    }

    /* when the button is clicked - the open class is toggled (added/removed) */
    .open a {
        display: block;
    }

    header img {
        width: 89px;
    }

    header span {
        margin-bottom: -5%;
    }

    main h1 {
        font-size: 21px;
        grid-column: 1;
        margin-top: -5%;
    }


    .card {
        font-size: 16px;
        background: rgb(0, 166, 226);

    }

    .card h2 {
        font-size: 18px;
    }

    body {
        justify-content: space-between;
    }

    footer{
        padding: 1rem;
    }
}

@media screen and (max-width: 518px) {
        
    body{
        overflow-x: hidden;
    }
      ul{
        display: block;
        min-width: 2rem;
        margin-left: -1.5rem;
    }
}

@media screen and (max-width: 376px) {
        
    main{
        overflow-x: hidden;
    }
      ul{
        display: block;
        max-width: 5rem;
        min-width: 3rem;
    }
}
